.navbar {
	font-family: Arial !important;
	display: flex !important;
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	width: 100% !important;
	height: 7vh !important;
	background-color:#808080 !important;
	z-index: 500 !important;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	border-bottom: 3px solid #000000 !important;
}

.navbar a {
	display: flex;
	float: left;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}

#home {
	/*width: 20%;*/
	justify-content: left;
}

#spacer {
	top: 0px !important;
	height: 7vh !important;
	z-index: 0 !important;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
}

.items {
	width: 100% !important;
	list-style: none;
	display: flex;
	justify-content: left;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	background-color: inherit;
}

.items a {
	height: 16px;
	padding: calc(3.5vh - 8px) 5px;
	font-size: 16px;
	background-color: inherit;
	font-family: inherit;
}

.dropdown {
	display: block;
	float: left;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	background-color: inherit;
}


.dropdown .dropbtn {
	display: flex;
	padding: 0px;
	font-size: 16px;
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	font-weight: bold;
	margin: 0px;
}

.login {
	background-color: inherit;
	list-style: none;
	display: flex;
	justify-content: right;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
}

.login .usrbtn {
	display: flex;
	padding: calc(3.5vh - 8px) 5px;
	font-size: 16px;
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	font-weight: bold;
	margin: 0px;
}

.items a:hover, .dropdown:hover .dropbtn {
	background-color: #ffffff;
}

.dropdown-content {
	margin-top: 0px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	display: none;
	position: absolute;
	float: right;
	background-color: #f9f9f9;
	min-width: 160px;
	border: 1px solid #000000 !important;
	padding: 0px !important;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	min-width: 160px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.navbar a:link {
	justify-content: center;
	text-align: center;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.navbar a:visited {
	color: #522d80;
}

.navbar a:hover, .navbar a:active {
	color: #0080ff;
}
